@charset "UTF-8";

/* 배경색 설정 */
html, body {
  color: #fff;
  background-color:#f0f0f0;
  font-family:helvetica;
  background:url('http://clevertechie.com/img/bnet-bg.jpg') #0f2439 no-repeat center top;
   
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
  padding: 0;
  overflow: auto;
}

.outer-container {
 background-color: #f2f2f2; /* 배경색 설정 */
 padding: 20px; /* 안쪽 여백 설정 */
 border-radius: 10px; /* 테두리 모서리 둥글게 설정 */
}

.div-inline {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 정렬 */
}

.input-group {
    margin-right: 10px;
    margin-bottom: 10px; /* 입력 그룹 간격 조절 */
    display: flex;
    flex-direction: column; /* 수직으로 요소 배치 */
    align-items: flex-start; /* 왼쪽 정렬에서 중앙 정렬로 변경 */
}

.input-group:last-child {
    margin-right: 0; /* 마지막 입력 그룹의 오른쪽 간격 제거 */
}

.input-group label {
    margin-bottom: 5px; /* 라벨과 입력란 사이 간격 조절 */
    align-self: center; /* 수정: 라벨을 가운데 정렬 */
}


/* 입력 요소 스타일 */
.login-input{
  height:30px;
  width:100%;;
  display: flex;
  vertical-align: middle;
  height: 34px;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #000000;
  color: rgba(255, 255, 255, 0.7);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;

}

.module {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
  width: 450px;
  text-align: center;
}

.module1 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
  width: 450px;
  text-align: center;
  margin-top: 140px;
  padding-top: 20px;
}


.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* 세로 스크롤을 자동으로 생성합니다. */
}

.form-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

/* 폼 스타일 */
.login-form {
  max-width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* 에러 메시지 스타일 */
.error-message {
  color: red;
}

.alert {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 20px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
  text-shadow: none;
  position: relative;
  background-color: #272e3b;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000;
  box-shadow: 0 0 0 1px #363d49 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
.alert-error {
	position: relative;
	top: 10px;
  color: #f00;
  background-color: #360e10;
  box-shadow: 0 0 0 1px #551e21 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}

.page-answer {
  text-align: center; /* h3를 수평 중앙 정렬합니다. */
  margin-bottom: 20px; /* h3 아래 여백을 추가합니다. */
}

.login-link-wrapper {
  text-align: center;
  margin-top: 10px;
}

.login-link-wrapper a {
  color: #999; /* 기본 색상 */
}

.login-link-wrapper a:hover,
.login-link-wrapper a:visited,
.login-link-wrapper a:active {
  color: #999; /* 원하는 색상 */
}


.placeholder-gray {
  color: #999; /* 회색 */
}


.btn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 3px 0;
  padding: 6px 20px;
  font-size: 15px;
  line-height: 20px;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #00aeff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
}
.btn.active,
.btn:active {
  padding: 7px 19px 5px 21px;
}
.btn.disabled:active,
.btn[disabled]:active,
.btn.disabled.active,
.btn[disabled].active {
  padding: 6px 20px !important;
}
.btn:hover,
.btn:focus {
  background-color: rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}
.btn:active,
.btn.active {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.07);
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}
.btn-primary {
  background-color: #098cc8;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  background-image: -webkit-linear-gradient(top, #0f9ada, #0076ad);
  background-image: linear-gradient(to bottom, #0f9ada, #0076ad);
  border: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.15) inset;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #21b0f1;
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}
.btn-primary:active,
.btn-primary.active {
  background-color: #006899;
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}
.btn-primary:hover,
.btn-primary:focus {
  background-image: -webkit-linear-gradient(top, #37c0ff, #0097dd);
  background-image: linear-gradient(to bottom, #37c0ff, #0097dd);
}
.btn-primary:active,
.btn-primary.active {
  background-image: -webkit-linear-gradient(top, #006ea1, #00608d);
  background-image: linear-gradient(to bottom, #006ea1, #00608d);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset, 0 0 0 1px rgba(255, 255, 255, 0.07) inset;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-container a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 3px 20px;
  font-size: 15px;
  height: 28px; /* 버튼 높이 조절 */
  line-height: 28px; /* 버튼 높이와 동일하게 설정 */
  background-color: #098cc8;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
}

.btn-container a:hover,
.btn-container a:focus {
  background-color: #21b0f1;
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}

.btn-container a:active,
.btn-container a.active {
  background-color: #006899;
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}

.btn-container1 a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  margin-right: 10px;
  padding: 3px 20px;
  font-size: 15px;
  height: 28px; /* 버튼 높이 조절 */
  line-height: 28px; /* 버튼 높이와 동일하게 설정 */
  background-color: #098cc8;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
}

.btn-container1 a:hover,
.btn-container1 a:focus {
  background-color: #21b0f1;
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}

.btn-container1 a:active,
.btn-container1 a.active {
  background-color: #006899;
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}

.button-container2 {
    display: flex;
    justify-content: center; /* 가운데 정렬을 원할 경우 */
    /* justify-content: space-between; */ /* 각 버튼을 좌우 정렬할 경우 */
}

.button-form {
    margin-right: 10px; /* 각 버튼 간격 조절 */
}


.left-menu-btn a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0; /* 좌우 여백을 0으로 변경 */
  padding: 8px; /* 버튼 내부 여백 */
  font-size: 15px;
  height: 28px; /* 버튼 높이 조절 */
  line-height: 28px; /* 버튼 높이와 동일하게 설정 */
  width: 150px;
  background-color: #444; /* 진한 회색 */
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s; /* transform 트랜지션 추가 */
}

.left-menu-btn a:hover,
.left-menu-btn a:focus {
  background-color: #555; /* 마우스 호버 시 조금 더 진한 회색으로 변경 */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* 마우스 호버 시 그림자 효과 추가 */
  transform: scale(1.1); /* 마우스 호버 시 크기 확대 애니메이션 */
}

.left-menu-btn a:active,
.left-menu-btn a.active {
  background-color: #333; /* 클릭 시 더 진한 회색으로 변경 */
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
  transform: scale(0.9); /* 클릭 시 크기 축소 애니메이션 */
}



.custom-select {
    appearance: none; /* 기본 스타일 감추기 */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: black; /* 선택 창 배경색 검정색 */
    color: gray; /* 선택 창 안에 있는 텍스트 회색 */
    padding: 8px 16px; /* 내부 패딩 설정 */
    border: none; /* 테두리 없애기 */
    border-radius: 4px; /* 모서리를 둥글게 */
    font-size: 14px; /* 글꼴 크기 조정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 호버 효과를 줌 */
}

/* index */
.menu-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; /* 상단에서 하단까지 확장되도록 수정 */
    width: 200px;
    background-color: #d0d0d0; /* 연한 회색 배경색으로 변경 */
    padding: 10px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 메뉴 아이템을 상단에 정렬 */
    align-items: stretch; /* 메뉴 너비에 맞게 아이템들을 늘림 */
     z-index: 100;
}

.menu-left div {
    margin-bottom: 10px;
    padding: 8px; /* 아이템 안쪽 여백 추가 */
    text-decoration: none;
    color: #333;
    display: block; /* 링크를 블록 요소로 변경하여 박스 안에 꽉 차게 함 */
}

.menu-left div:hover {
    color: #666;
}

/* 사원조회 */
/* 테이블 스타일 */
.table-container {
    overflow-x: auto; /* 가로 스크롤을 추가하여 테이블이 너무 길 경우 스크롤 가능하게 합니다 */
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 버튼 스타일 */
.button-form {
    margin-top: 10px; /* 버튼 간격을 조절합니다 */
}

.custom-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px; /* 버튼 간격을 조절합니다 */
}

.custom-button:hover {
    background-color: #45a049;
}

.form-table-spacing {
        margin-top: 50px; /* 원하는 만큼의 간격을 설정하세요 */
    }
    
    .form-below-table {
        margin-top: 20px; /* 테이블 아래에 간격을 조정하세요 */
    }
    
/* .table-container {
	display: inline-block;
	width: auto; 테이블 컨테이너의 너비 조정
	margin-right: 5%; 테이블 간격 조정
	vertical-align: top; 테이블을 상단으로 정렬
}

.custom-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

.custom-table th, .custom-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.custom-table a {
	color: inherit; 링크의 색상을 부모 요소인 테이블의 글자색과 동일하게 지정
	text-decoration: none; 링크의 밑줄 제거
}

.custom-table th {
	background-color: #808080;
}

.custom-table tbody tr:nth-child(even) {
	background-color: #808080;
}

버튼 스타일
.button-form {
	margin-top: 10px; 버튼 간격을 조절합니다
}

.custom-button {
	background-color: #098cc8;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-right: 10px; 버튼 간격을 조절합니다
}

.custom-button:hover {
	background-color: #21b0f1;
}

.form-table-spacing {
	margin-top: 50px; 원하는 만큼의 간격을 설정하세요
}

.form-below-table {
	margin-top: 20px; 테이블 아래에 간격을 조정하세요
}
 */